.vs/DirectXGame/FileContentIndex/2bc7f92c-e101-44aa-9954-7e73ef300ce7.vsidx
.vs/DirectXGame/FileContentIndex/745b0cc7-d4e6-49a9-b4e3-38e45a3b1765.vsidx
.vs/DirectXGame/FileContentIndex/8e6f336b-4d6e-4a1b-837b-af928ad2f8d6.vsidx
.vs/DirectXGame/FileContentIndex/f06d4ed5-f0a8-411c-ba44-3f58cb6758fd.vsidx
.vs/DirectXGame/FileContentIndex/f669885e-65bb-4b30-9842-5346ed4a48a4.vsidx
.vs/DirectXGame/v17/.suo
.vs/DirectXGame/v17/Browse.VC.db
.vs/DirectXGame/v17/DocumentLayout.backup.json
.vs/DirectXGame/v17/DocumentLayout.json
.vs/DirectXGame/v17/ipch/AutoPCH/164b6df99b477e47/VERTEXSHADERSIGNATURE.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/19f1fc19932c7bfa/SWAPCHAIN.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/2cf7ec8d00d8da3/WIN32WINDOW.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/39b8f434fd2950d9/GRAPHICSPIPELINESTATE.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/47c63550359a86cd/MAIN.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/4c2c55624f9e781/GRAPHICSDEVICE.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/4d7624736c446f73/BASE.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/517badd01b0ab1f4/LOGGER.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/5421029e939ff06b/MAIN.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/5464c3b2724f411e/LOGGER.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/5dabe7a478fc6546/VEC3.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/72cd07c7fc9743b8/DEVICECONTEXT.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/8543cacd11b689fa/VERTEXSHADERSIGNATURE.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/88521d8aeb77d221/GRAPHICSENGINE.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/8a02e2cef82c1b43/GRAPHICSENGINE.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/8a6e7e95f5fc1eed/GRAPHICSLOGUTILS.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/8e0b9c51daab4edf/VERTEXBUFFER.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/995a24a49a856d1b/VEC4.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/b54d05dc1c671411/BASE.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/b954b73ecf6ccebf/DISPLAY.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/ba95404ae7a1abd8/GRAPHICSPIPELINESTATE.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/c12b3058b72bfdfa/VERTEXBUFFER.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/c2e702a20a14f248/SWAPCHAIN.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/e1fd334fd6c53f2f/GRAPHICSUTILS.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/e3c3b40c3656ad39/WIN32WINDOW.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/e5f45541625de103/WIN32GAME.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/f2c567ad8855e2dd/DISPLAY.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/f50d9edcfc7d0e27/RECT.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/f555b592dd20ce67/GAME.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/f8561b6924317102/SHADERBINARY.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/fa6293828ce33b89/GAME.ipch
.vs/DirectXGame/v17/ipch/AutoPCH/fcaa58a8559c8ed9/WIN32GAME.ipch
.vs/DirectXGame/v17/Solution.VC.db
Bin/x64/Debug/DirectXGame.exe
Bin/x64/Debug/DirectXGame.pdb
DirectXGame.sln
DirectXGame.vcxproj
DirectXGame.vcxproj.user
Intermediate/x64/Debug/Base.obj
Intermediate/x64/Debug/DeviceContext.obj
Intermediate/x64/Debug/DirectXGame.exe.recipe
Intermediate/x64/Debug/DirectXGame.ilk
Intermediate/x64/Debug/DirectXGame.log
Intermediate/x64/Debug/DirectXGame.tlog/CL.command.1.tlog
Intermediate/x64/Debug/DirectXGame.tlog/Cl.items.tlog
Intermediate/x64/Debug/DirectXGame.tlog/CL.read.1.tlog
Intermediate/x64/Debug/DirectXGame.tlog/CL.write.1.tlog
Intermediate/x64/Debug/DirectXGame.tlog/DirectXGame.lastbuildstate
Intermediate/x64/Debug/DirectXGame.tlog/link.command.1.tlog
Intermediate/x64/Debug/DirectXGame.tlog/link.read.1.tlog
Intermediate/x64/Debug/DirectXGame.tlog/link.secondary.1.tlog
Intermediate/x64/Debug/DirectXGame.tlog/link.write.1.tlog
Intermediate/x64/Debug/Display.obj
Intermediate/x64/Debug/Game.obj
Intermediate/x64/Debug/GraphicsDevice.obj
Intermediate/x64/Debug/GraphicsEngine.obj
Intermediate/x64/Debug/GraphicsPipelineState.obj
Intermediate/x64/Debug/Logger.obj
Intermediate/x64/Debug/main.obj
Intermediate/x64/Debug/RenderSystem.obj
Intermediate/x64/Debug/ShaderBinary.obj
Intermediate/x64/Debug/SwapChain.obj
Intermediate/x64/Debug/vc143.idb
Intermediate/x64/Debug/vc143.pdb
Intermediate/x64/Debug/VertexBuffer.obj
Intermediate/x64/Debug/VertexShaderSignature.obj
Intermediate/x64/Debug/Win32Game.obj
Intermediate/x64/Debug/Win32Window.obj
*.ipch
.vs/DirectXGame/v17/Browse.VC.opendb
.vs/DirectXGame/v17/Browse.VC.db-wal
.vs/DirectXGame/v17/Browse.VC.db-shm
.vs/DirectXGame/FileContentIndex/fb3cb2cf-544b-4b59-b802-aa770d08e851.vsidx
.vs/DirectXGame/FileContentIndex/8f923dfe-0f83-4893-b92d-53318e91b226.vsidx
.vs/DirectXGame/FileContentIndex/763f2d33-ff18-4b5b-b95d-6c9f14bf64f7.vsidx
.vs/DirectXGame/FileContentIndex/6ec8263b-97aa-4344-a01b-7f7d381d605f.vsidx
.vs/DirectXGame/FileContentIndex/2ef4a0d4-8c1c-4a8f-8520-d97c4f0157e5.vsidx
*.vsidx
.vs/DirectXGame/FileContentIndex/766d2a0e-4512-4e1c-8c6d-4507550d47e5.vsidx
*.vsidx
